<div class='col-xs-offset-1 padded'>
  <h1>Your profile</h1>
</div>

<div class='row'>
  <% if @profile.profile_picture.presence %>
    <div class='col-xs-4 col-xs-offset-1 avatar-large padded' >
      <%= cl_image_tag image_path(@profile.profile_picture), height: 150, width: 300, crop: :fill %>
    </div>
  <% end %>
</div>

<div class='row'>
  <div class='col-xs-4 col-xs-offset-1'>
    <p> First name <%= @profile.first_name || "" %></p>
    <p> Last name <%= @profile.last_name || "" %></p>
    <p> Phone Number <%= @profile.phone_number || "" %></p>
  </div>
</div>

<div class='row'>
  <div class='col-xs-4 col-xs-offset-1 padded'>
    <%= link_to edit_user_profile_path(@profile.user, @profile), {class: "btn btn-primary form-btn "} do %>
  <h4>Edit your profile </h4>
<% end %>
  </div>
</div>

