<h1>Your profile</h1>

<div class='container'>
  <div class='row'>
    <div class='col-xs-4 col-xs-offset-4 avatar-large' >
    <% if @profile.profile_picture.presence %>
    <%= cl_image_tag image_path(@profile.profile_picture), height: 150, width: 300, crop: :fill %>
    <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <p> First name: <%= @profile.first_name || "" %></p>
      <p> Last name: <%= @profile.last_name || "" %></p>
      <p> Phone Number: <%= @profile.phone_number || "" %></p>
    </div>
  </div>
</div>

<div>
  <%= link_to edit_user_profile_path(@profile.user, @profile), {class: "btn btn-primary"} do %>
  <h4>Edit your profile </h4>
  <% end %>
</div>


