<ul>
  <li>At: <%= booking.place.name %></li>
  <li>Address: <%= booking.place.address %></li>
  <li>Checkin date: <%= booking.checkin %></li>
  <li>Checkout date: <%= booking.checkout %></li>
  <li><%= booking.nb_of_traveller %></li>
  <li>validation by owner: <%= booking.validated %></li>
</ul>

