<h1>A new reservation have been created</h1>

<p>At: <%= @booking.place.name %></p>
<p>Address: <%= @booking.place.address %></p>
<p>Checkin date: <%= @booking.checkin %></p>
<p>Checkout date: <%= @booking.checkout %></p>
<p>bill: <%= @bill %></p>
<p><%= @booking.nb_of_traveller %></p>
<p>validation by owner: <%= @booking.validated %></p>
