<div class="row">
   <div class="col-xs-12 text-center">
     <h1>Utopic night, where ?</h1>
   </div>
 </div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <form>
      <h5>Dates :</h5>
      <div class="col-md-4 col-sm-12">
        <input name="checkin" class="checkin tour-target" id= "Arrivée" placeholder="Arrivée">
      </div>
      <div class="col-md-4 col-sm-12">
        <input type="checkout" class="checkout tour-target" id= "Départ"placeholder="Depart">
      </div>
      <div class="col-md-4 col-sm-12">
        <input type="voyageur" class="checkout tour-target" id= "Voyageur"placeholder="Nombre de voyageurs">
      </div>

      <h5> Type de logement :</h5>
        <INPUT type="checkbox" name="choix1" value="1"> Terre
        <INPUT type="checkbox" name="choix2" value="2"> Mer
        <INPUT type="checkbox" name="choix3" value="3"> Air

      <h5> Fourchette de prix : </h5>
        <INPUT type="checkbox" name="choix1" value="1"> <20€
        <INPUT type="checkbox" name="choix2" value="2"> entre 21€ et 50€
        <INPUT type="checkbox" name="choix3" value="3"> entre 51€ et 70€
        <INPUT type="checkbox" name="choix1" value="4"> entre 71€ et 100€
        <INPUT type="checkbox" name="choix2" value="5"> >100€
    </form>
  </div>
</div>

<div class="row padded">
   <% @places.each do |place| %>
     <div class="col-xs-12 col-md-4">
       <div class="card">
         <div class="card-link">
           <%= link_to place_path(place) do %>
           <div class="card-bg" style="background: url(<%= place.photo if place.photo.presence %>); background-size: cover;">
             <div class="card-price-place">
               <h4 class= "text-center card-price-text"><%=place.price%>€</h4>
             </div>
             <div>
               <%= link_to profile_path(place.user) do %>
              <%= image_tag place.user.profile.profile_picture, :class => "avatar-large" %>
              <% end %>
             </div>
           </div>
           <% end %>
         </div>
       </div>
        <div>
          <h4 class="card-name"><%= place.name.capitalize%></h4>
          <h6 class="card-description"><%= place.description.capitalize%></h6>
        </div>
     </div>
   <% end %>
 </div>
<div>
 <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>








