<div class="text-center">

  <h1>Create a new place</h1>

  <div class="row padding-medium">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 new-place-form">
      <%= simple_form_for @place do |f| %>
        <%= f.input :name, :label => 'Place name', placeholder: 'An amazing place name'%>
        <%= f.input :capacity, as: :integer, placeholder: 'How many people can sleep there'%>
        <%= f.input :price, as: :integer, placeholder: 'Price for a night'%>
        <%= f.input :street, input_html: { id: 'user_input_autocomplete_address' }, placeholder: 'Start typing your address' %>
        <%= f.association :category %>
        <%= f.input :description, as: :text, placeholder: 'My place is ...'%>
        <%= f.input :pictures, multiple: true %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

