<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>your's place</h1>
    <ul>
      <li><%= @place.name %></li>
      <li>Maximum number of host: <%= @place.capacity %></li>
      <li>Price: <%= @place.price %>€</li>
      <li>Address: <%= @place.address %></li>
      <li>Category: <%= @place.category.name %></li>
      <li>A few words about my place: <%= @place.description %></li>
    </ul>
    <%= image_tag @place.photo, :class => "img_show"  %>
  </div>

  <div class="col-xs-12 col-md-6">
    <div id="map" style="width: 120%; height: 500px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>

  </div>
</div>


