<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>your's place</h1>
    <ul>
      <li><%= @place.name %></li>
      <li><%= @place.capacity %></li>
      <li><%= @place.price %></li>
      <li><%= @place.street %></li>
      <li><%= @place.city %></li>
      <li><%= @place.zipcode %></li>
      <li><%= @place.country %></li>
      <li><%= @place.category.name %></li>
      <li><%= @place.description %></li>
    </ul>
  </div>
</div>
