<h1 class="text-center"><%= @place.name %></h1>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="place-description padding-medium">
      <ul>
        <li>Maximum number of host: <%= @place.capacity %></li>
        <li>Price: <%= @place.price %>€</li>
        <li>Address: <%= @place.address %></li>
        <li>Category: <%= @place.category.name %></li>
        <li>A few words about my place: <%= @place.description %></li>
      </ul>
    </div>

    <div class="padding-small"></div>

    <%= image_tag @place.photo, :class => "img_show"  %>

    <div id="map" style="width: 120%; height: 500px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>

  </div>

  <div class="col-xs-12 col-md-6">
    <%= render 'bookings/form', place: @place, booking: @booking %>
  </div>
</div>


